<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static "todo/styles.css" %}" />
        <script type="text/javascript" src="{% static "todo/javascript/bugs.js" %}"></script>
        <title></title>
    </head>
    <body>
    <div id="main" style="display: inline-block;">
        <header>
            <h1>ToDo List</h1>
        </header>
        <img id="bug" class="random" src="{% static "todo/images/green-circle.png" %}" width="42" height="42" onclick="clicked(this)"/>
        <img id="bug" class="random" src="{% static "todo/images/blue-square.png" %}" width="42" height="42" onclick="clicked(this)"/>
        <img id="bug" class="random" src="{% static "todo/images/green-circle.png" %}" width="42" height="42" onclick="clicked(this)"/>
        <img id="bug" class="random" src="{% static "todo/images/blue-square.png" %}" width="42" height="42" onclick="clicked(this)"/>
        <img id="bug" class="random" src="{% static "todo/images/green-circle.png" %}" width="42" height="42" onclick="clicked(this)"/>
        <img id="bug" class="random" src="{% static "todo/images/blue-square.png" %}" width="42" height="42" onclick="clicked(this)"/>
        <img id="bug" class="random" src="{% static "todo/images/red-triangle.png" %}" width="42" height="42" onclick="clicked(this)"/>
        <img id="bug" class="random" src="{% static "todo/images/red-triangle.png" %}" width="42" height="42" onclick="clicked(this)"/>
        <img id="bug" class="random" src="{% static "todo/images/red-triangle.png" %}" width="42" height="42" onclick="clicked(this)"/>
